.stat-neutral {
    font-size: 25px;
    color: blue;
}

.stat-bad {
    font-size: 25px; 
    color: red;
    font-weight: bold;
}

.stat-good {
    font-size: 25px;
    color: green;
}

.small {
    font-size: 1rem;
    font-family: serif;
    text-align: center;
    color: grey;
    
    /* Text Shadow Property */
    text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, 1px 1px 0 grey,
      1px 1px 0 grey;
}

.ageProgress {
    height:24px;
    width:20%
}

h1 {
    text-align: left;
}