.restaurantImage {
    display: block;
    height: 500px;
    width: 700px;
    margin-top: 25px;
    /* object-fit: contain; */
}

.foodDeliveryDetails {
    font-size: 15px;
}

.resturantTitle {
    font-size: 27px;
    text-decoration: underline;
}

.row {
    display: block;
    margin-top: 10px;
}

.tag {
    display: block;
    margin-bottom: 25px;
    width: 100px;
    font-size: 14px;
}


