body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

h1 {
    text-align: center;
}

.schedule {
    width: 100%;
    border-collapse: collapse;
}

.schedule td, .schedule th {
    border: 1px solid #ccc;
    padding: 10px;
}

.active-task {
    border: 2px solid #ffb400 !important; 
    background-color: transparent !important;
}

.timehack {
    width: 90%;
    max-width: 500px;
    margin: auto;
    font-family: sans-serif;
  }
  
  .hour-block {
    padding: 14px;
    margin: 8px 0;
    border-radius: 8px;
    background: #f2f2f2;
  }
  
  .current-hour {
    background: #dff4ff;
    border-left: 6px solid #0aa5ff;
  }
  
  .hour-label {
    font-size: 18px;
    font-weight: bold;
  }
  
  .task {
    margin-top: 6px;
  }
  
  /* Progress Bar */
  .hour-progress {
    width: 100%;
    height: 6px;
    background: #d0d0d0;
    margin-top: 10px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .hour-progress-fill {
    height: 100%;
    background: #00b34a;
    transition: width 30s linear;
  }
  
  